body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: bisque;
}

@keyframes color {
  0% {
    fill: white;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: green;
  }
}

.myText {
  animation: color 2s linear infinite;
}

.my-btn {
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease-out;
}

/* Apply different background color on hover */
.my-btn:hover {
  background-color: gray;
}
