body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: bisque;
}

.container .height{
    height: 70px;
}


@keyframes color {
  0% {
    fill: white;
  }
  50% {
    fill: blue;
  }
  100% {
    fill: green;
  }
}

@keyframes size-variation {
  0%, 100% {
    font-size: 40px;
  }
  50% {
    font-size: 60px;
  }
}

.animated-text {
  animation: size-variation 2s ease-in-out infinite;
}

.myText {
  animation: color 2s linear infinite;
  font-size: 50px;
}

.my-btn {
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease-out;
}

/* Apply different background color on hover */
.my-btn:hover {
  background-color: gray;
}
